*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
a{
    text-decoration: none;
}
.navigation{
    padding-top: 40px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
h2{
    text-align: center;
}